#project-title {
  font-family: Melectron, Arial, sans-serif;
  color: #bee2eb;
  line-height: .255;
  font-weight: normal;
}

body{
  background: radial-gradient(at top, rgba(0,0,0,1) 0%, rgba(40,20,14,1) 100%);
  color: #fff;
}

.font-demonstration {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 40px auto 0 auto;
  align-items: center;
  justify-content: center;
}

@media (max-width:800px) {
  .font-demonstration {
    width: 80%;
  }
}

.font-demonstration span {
  font-family: Melectron, Arial, sans-serif;
  max-height: 100%;
  max-width: 100%;
  color: #bee2eb;
  transition: all .2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  margin: 0 30px;


  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  font-size: 10vh;
  vertical-align: baseline;
}

.font-demonstration span:hover {
  transform: scale(1.5);
}



.font-demonstration.test::before {
  content: url("img/orbit/test.svg");
  position: absolute;
  height: inherit;
  max-height: 100%;
  width: 100%;
}
