body {
  overflow: hidden;
}

header {
  display: block;
}

header > object {
  position: relative;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.two-columns img {
  pointer-events: none;
  max-width: 100%;
}

.two-columns > div {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

@media (max-width: 800px) {
  header > object {
    width: 120vw;
  }

  .two-columns {
    grid-template-columns: 1fr;
  }
}
