@import url("../fonts/font.css");
@import url("button.css");
@import url("hlink.css");
@import url("footer.css");

* {
  touch-action: manipulation;
}
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body {
  color: #231f20;
  font-family: Noah, Arial, sans-serif;
  min-height: 100vh;
}

main {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 80%;
  max-width: 1600px;
  margin: 40px auto 80px auto;
}

.major {
  font-weight: bold;
  font-size: 32px;
}
.minor {
  font-size: 20px;
}
.white {
  color: #fff;
}
.black {
  color: #231f20;
}

h1 {
  font-weight: bold;
  max-height: 100%;
  max-width: 100%;
  font-size: 128px;
  width: 60%;
  vertical-align: baseline;
}

p:not([class]), h2 {
  width: 80%;
  margin: 0 auto;
}

h2 {
  font-size: 48px;
}
p:not([class]) {
  font-size: 32px;
}
p:not([class]) .fun {
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.75, 0.35, 0.4, 0.99);
}
p:not([class]):hover {
  .fun {
    opacity: 100%;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 64px;
  }
  p:not([class]), h2 {
    width: 100%;
  }
}

/* Полоса прокрутки */
body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(35, 31, 32, 0.3);
  border-radius: 20px;
}
