.button-container {
  display: flex;
  grid-gap: 12px;
  align-items: center;
  z-index: 100;
}

.button {
  border-radius: 12px;
  padding: 12px 24px;
  transition: all 0.5s cubic-bezier(0.75, 0.35, 0.4, 0.99);

  text-decoration: none;
  font-weight: bold;
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  --shadow-color: rgba(255, 255, 255, 0.3);
  --inset-color: rgba(255, 255, 255, 0.3);
  user-select: none;
}

.button.white {
  color: #231f20;
  background: #fff;
  --inset-color: rgba(35, 31, 32, 0.3);
}

.button.black {
  color: #fff;
  background: #231f20;
  --inset-color: rgba(255, 255, 255, 0.3);
}

.button:empty {
  height: 48px;
  width: 48px;
  padding: 0;
}

.button.tg {
  --shadow-color: rgba(40, 168, 232, 0.3);
  background-image: url(../img/icons/tg-logo.svg);
}
.button.vk {
  --shadow-color: rgba(0, 119, 255, 0.3);
  background-image: url(../img/icons/vk-logo.svg);
}
.button.yt {
  --shadow-color: rgba(255, 0, 0, 0.3);
  background-image: url(../img/icons/yt-logo.svg);
}
.button.fontesk {
  --shadow-color: rgba(1, 148, 255, 0.3);
  background-image: url(../img/icons/fontesk-logo.svg);
}
.button.fontstorage {
  --shadow-color: rgba(3, 125, 202, 0.3);
  background-image: url(../img/icons/fontstorage-logo.svg);
}
.button.myskotom {
  --inset-color: rgba(0, 0, 0, 0.3);
  background-image: url(../img/icons/myskotom-logo.svg);
}
.button.mail {
  background-image: url(../img/icons/mail-fill.svg);
}

footer .button,
.button.mail {
  opacity: 60%;
}

footer .button.tg {
  background-image: url(../img/icons/tg-logo-footer.svg);
}
footer .button.vk {
  background-image: url(../img/icons/vk-logo-footer.svg);
}
footer .button.yt {
  background-image: url(../img/icons/yt-logo-footer.svg);
}

.button:hover {
  transform: translateY(-5px);
  box-shadow: inset 0px 0px 15px 5px var(--inset-color),
    0px 10px 15px -5px var(--shadow-color);
  opacity: 100%;
}

.button:active {
  transition: all 0.1s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  transform: translateY(0);
  opacity: 100%;
}
