footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  background: #231f20;

  max-width: 100%;
  margin-top: 40px;
  padding: 20px;
}

footer .hlink {
  opacity: 60%;
}

footer .copyright {
  opacity: 15%;
  transition: all 0.5s cubic-bezier(0.75, 0.35, 0.4, 0.99);
}

footer .copyright:hover {
  opacity: 100%;
}

.footer-button-container {
  display: flex;
  flex-direction: column;
  grid-gap: 12px;
}

.logo-footer {
  height: 48px;
  aspect-ratio: 3.35;
  transition: all 0.5s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  opacity: 60%;
}

.logo-footer.white {
  background: url(../img/logo/logo-footer-w.svg) no-repeat center center / contain;
}

.logo-footer.black {
  background: url(../img/logo/logo-footer-b.svg) no-repeat center center / contain;
}

.logo-footer.white:hover {
  opacity: 100%;
  background: url(../img/logo/logo-footer-wh.svg) no-repeat center center / contain;
}

.logo-footer.black:hover {
  opacity: 100%;
  background: url(../img/logo/logo-footer-bh.svg) no-repeat center center / contain;
}
