.grid-container {
  display: grid;
  grid-auto-rows: 50vh;
  gap: 40px;

  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, max(465px, 100%/5)), 1fr)
  );
}

.grid-container p:not([class]) {
  width: 100%;
  margin: 10px;
  box-sizing: border-box;
}

.grid-container article {
  display: flex;
  flex-direction: column;
}

.grid-container article .preview {
  order: 1;
  border-radius: 20px;
  width: 100%;
  flex: 1 0 auto;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  transition: all 0.5s cubic-bezier(0.75, 0.35, 0.4, 0.99);
}

.grid-container article .preview:hover {
  transform: translateY(-10px);
  box-shadow: inset 0px 0px 15px 5px rgba(35, 31, 32, 0.3),
    0px 10px 15px -5px rgba(35, 31, 32, 0.3);
}

.grid-container article .caption {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;

  order: 2;
  margin: 10px 10px 0px 10px;
}

/* .grid-container article section h3,
.grid-container article section p.minor {
  line-height: 1;
  vertical-align: baseline;
} */
