.grid-container {
  display: grid;
  --grid-gap: 10px;
  gap: var(--grid-gap);

  grid-template-columns: repeat(6, calc((80vw - 5 * var(--grid-gap)) / 6));
  grid-auto-rows: calc((80vw - 5 * var(--grid-gap)) / 6);
}

.grid-container p:not([class]) {
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
}

.grid-container > a {
  display: flex;
  box-sizing: border-box;
  flex-direction: column-reverse;

  border-radius: 20px;
  width: 100%;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  transition: all 0.5s cubic-bezier(0.75, 0.35, 0.4, 0.99);
}

.grid-container > a:hover {
  transform: translateY(-10px);
  box-shadow: inset 0px 0px 15px 5px rgba(35, 31, 32, 0.3),
    0px 10px 15px -5px rgba(35, 31, 32, 0.3);
}

object a { /* Обёртка внутри .grid-container a */
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
  margin: 20px;
}

.grid-container .s1x1 {
  grid-column: span 1;
  grid-row: span 1;
  object {
    display: none;
  }
}

.grid-container .s2x1 {
  grid-column: span 2;
  grid-row: span 1;
}

.grid-container .s2x2 {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-container .s2x4 {
  grid-column: span 2;
  grid-row: span 4;
}

.grid-container .s3x2 {
  grid-column: span 3;
  grid-row: span 2;
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, calc((80vw - 3 * var(--grid-gap)) / 4));
    grid-auto-rows: calc((80vw - 3 * var(--grid-gap)) / 4);
  }
  .grid-container .s3x2 {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(2, calc((80vw - var(--grid-gap)) / 2));
    grid-auto-rows: calc((80vw - var(--grid-gap)) / 2);
  }
  .grid-container .s3x2 {
    grid-column: span 2;
    grid-row: span 1;
  }
  .grid-container .s2x4 {
    grid-column: span 2;
    grid-row: span 2;
  }
}
