header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;

  max-width: 80%;
  min-height: 25vh;
  gap: 80px;
  margin: 5vh auto 0 auto;
}

#project-title {
  font-family: Noah, Arial, sans-serif;
  color: #231f20;
  line-height: .621;
  font-weight: bold;

  max-height: 100%;
  max-width: 100%;
  /* user-select: none; */
  /* margin-right: 5vh; */
  position: relative;
  bottom: 0px;

  text-decoration: none;
	font-style: normal;
  font-size: min(30vw, 25vh);
  vertical-align: baseline;
}
