@import url(color.css);

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-end;

  width: 80%;
  max-width: 1600px;
  column-gap: 80px;
  margin: 80px auto 0 auto;
}

header > div {
  display: grid;
  align-content: space-between;
  height: inherit;
  gap: 12px;
}

header .button-container {
  margin-bottom: 30px;
}

header .minor {
  margin-top: 18px;
}

img.img-demonstration {
  pointer-events: none;
  width: calc(100vw - 4px);
  max-width: 1920px;
  position: relative;
  transform: translate(-50%, 0);
  left: 50%;
}

img.img-demonstration + img.img-demonstration {
  margin-top: -40px;
}

.poster-demonstration-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}

.poster-demonstration {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.poster-demonstration > div {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  flex: 1;
  width: 100%;
}

.poster-demonstration > span {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0 10px;
}

.poster-demonstration-container.s1x1 .poster-demonstration div {
  aspect-ratio: 1;
}

.poster-demonstration-container.a4 .poster-demonstration div {
  aspect-ratio: 3 / 4;
}

.poster-demonstration-container.s16x9 .poster-demonstration div {
  aspect-ratio: 16 / 9;
}

.pop-up-poster-container,
.pop-up-poster-bg {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

.pop-up-poster-bg {
  display: flex;
  backdrop-filter: blur(0);
  width: 100vw;
  height: 100vh;
  background-color: rgba(35, 31, 32, 0);
  transition: all .3s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pop-up-poster-bg img {
  max-width: calc(100vw - 40px);
  max-height: calc(100vh - 40px);
  transition: all .3s cubic-bezier(0.75, 0.35, 0.4, 0.99);
  opacity: 0;
  transform: translate(0, 10px);
  z-index: 101;
  pointer-events: none;
  user-select: none;
}

.pop-up-poster-bg.isvisible,
.pop-up-poster-bg.isvisible img {
  backdrop-filter: blur(10px);
  opacity: 100%;
  background-color: rgba(35, 31, 32, 0.4);
  transform: translate(0, 0);
}

.logo-demonstration {
  display: flex;
  flex-wrap: wrap;
}

.logo-demonstration div {
  display: flex;
  padding: 40px;
  box-sizing: border-box;
  max-height: 100vh;
}

.logo-demonstration div:first-child {
  flex: 0 0 100%;
  border-radius: 20px 20px 0 0;
}

.logo-demonstration div:nth-child(2),
.logo-demonstration div:nth-child(3) {
  flex: 0 0 50%;
}

.logo-demonstration div:nth-child(2) {
  border-radius: 0 0 0 20px;
}

.logo-demonstration div:nth-child(3) {
  border-radius: 0 0 20px 0;
}

.font-demonstration-container {
  display: flex;
  gap: 20px;
}

.font-demonstration {
  display: flex;
  gap: 12px;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 20px;
  padding: 20px;
  background-color: #f2f3f5;
}

.font-demonstration .font-name {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.font-demonstration p {
  display: block;
  overflow: hidden;
  margin: 0;
  width: auto;
  mask: linear-gradient(to right, #000 70%, transparent 100%);
  mask-repeat: no-repeat;
}

.font-demonstration-container + .font-demonstration-container {
  margin-top: -20px;
}

.project-footer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 20px;
  width: 100%;
  margin-top: 40px;
}

.project-footer p.minor:last-child {
  text-align: right;
  margin-left: auto;
}

.grid-container {
  margin-top: 40px;
}

@media (max-width: 800px) {
  header .button-container {
    flex-wrap: wrap;
  }

  .logo-demonstration div:nth-child(2),
  .logo-demonstration div:nth-child(3) {
    flex: 0 0 100%;
    border-radius: 0;
  }

  .logo-demonstration div:nth-child(3) {
    border-radius: 0 0 20px 20px;
  }

  .font-demonstration-container {
    flex-direction: column;
  }

  .poster-demonstration-container {
    grid-template-columns: 1fr;
  }
}
